protocol_version="70242"
init_proto_version="209"
min_peer_proto_version="70239"
caddr_time_version="31402"
pchMessageStart_0 = "0xa1"
pchMessageStart_1 = "0xb2"
pchMessageStart_2 = "0xc3"
pchMessageStart_3 = "0xd4"
wallet_port="8192"
explorer_url=""
second_explorer_url=""
explorer_requery_seconds="150"
block_count="0"
seed_1="154.12.247.198"
seed_2="154.12.247.214"
seed_3=""
seed_4=""
seed_5=""
seed_6=""
seed_7=""
seed_8=""
seed_9=""
seed_10=""
cf_domain="deftrack.xyz"
cf_domain_prefix="dnsseed"
cf_username="your_cloudflare_email@example.com"
cf_api_key="REDACTED"
cf_seed_dump="dnsseed.dump"
required_subversion="/DeFCoN:"
max_blocks_behind=6
max_seed_age="10800"
require_node_network="1"
publish_min_proto_version="70242"
